@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.body1 {
    background-color: #A4ABD3;
}

.card12 {
    width: 370px;
    height: 535px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.centre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color1 {
    color: #FCEFE4;
}

.taille {
    font-size: small;
}

.taille_conexion {
    font-size: 52px;
}

/**css pour la navbar**/
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    /**margin: 10px 0 0 10px;**/
}

.logo img {
    width: 70px;
    height: 7 0px;
    border-radius: 50%;
    padding-left: 0%;
}

.logo span {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    /**position: absolute;
    left: 0;**/
    padding: 10px;
}

/**taille et position icon**/
.icon {
    position: relative;
    width: 70px;
    height: 40px;
    top: 3px;
    font-size: 35px;
    text-align: center;
}

/**texte a coté des bouton signature**/
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

/**Box shadow quand on passe sur la case**/
a:hover {
    background: #eee;
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

/**texte dans la navbar**/
.nav-text {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

/**position du bouton logout**/
.logout {
    position: absolute;
    bottom: 5px;
}

/**fin css pour la navbar**/